@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the List of Users</h1>
    <div>
        <img src="~/img/img1.png" class="img-fluid" style="max-width: 80%"/>
    </div>
</div>
